{% extends "Mainlyout.html" %}

{% include "Header.html" %}
{% include "Hero.html" %}
{% include "Intro.html" %}
{% include "How.html" %}
{% include "Concept.html" %}
{% include "SubScrpt.html" %}
{% include "Premium.html" %}


{% block Header %}{% endblock %}
{% block Main %}

  {% block  Hero  %}{% endblock %}
  {% block  Intro %}{% endblock %}
  {% block  How   %}{% endblock %}
  {% block  Concept  %}{% endblock %}
  {% block  SubScrpt %}{% endblock %}
  {% block  Premium  %}{% endblock %}


{% endblock %}