{% block How %}

<!-- How section -->
	<section class="how-section spad set-bg" data-setbg="static/img/how-to-bg.jpg">
		<div class="container text-white">
			<div class="section-title">
				<h2>How it works</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="static/img/icons/brain.png" alt="">
						</div>
						<h4>Create an account</h4>
						<p> We get to know WHAT you want. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="static/img/icons/pointer.png" alt="">
						</div>
						<h4>Choose a plan</h4>
						<p>We serve you WHEN you want. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="static/img/icons/smartphone.png" alt="">
						</div>
						<h4>Download Music</h4>
						<p>You get it HOW you want. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How section end -->

{% endblock %}