{% block Premium %}

<!-- Premium section end -->
	<section class="premium-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Why go Premium</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p> Going premium offers you a wide range of benefits. Once you go premium you join our community, priority access to global musical events, debut Kareoke and lots more. Join to get the experience.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<img src="static/img/premium/1.jpg" alt="">
						<h4>No ads </h4>
						<p>Listen with no interruption</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<img src="static/img/premium/2.jpg" alt="">
						<h4>Community Access</h4>
						<p>All community Benefits</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<img src="static/img/premium/3.jpg" alt="">
						<h4>Listen Offline</h4>
						<p>Access music on your devices</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<img src="static/img/premium/4.jpg" alt="">
						<h4>Music Request</h4>
						<p>Get the latest music inbox </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Premium section end -->

{% endblock %}