{% block SubScrpt %}

<!-- Subscription section -->
	<section class="subscription-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sub-text">
						<h2>Subscription from $15/month</h2>
						<h3>Start a free trial now</h3>
						<p>Get the best of emotion-based music tailored for you, by you without interruptions!.</p>
						<a href="#" class="site-btn">Try it now</a>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="sub-list">
						<li><img src="static/img/icons/check-icon.png" alt="">Play any track</li>
						<li><img src="static/img/icons/check-icon.png" alt="">Listen offline</li>
						<li><img src="static/img/icons/check-icon.png" alt="">No ad interruptions</li>
						<li><img src="static/img/icons/check-icon.png" alt="">Unlimited skips</li>
						<li><img src="static/img/icons/check-icon.png" alt="">High quality audio</li>
						<li><img src="static/img/icons/check-icon.png" alt="">Shuffle play</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscription section end -->

{% endblock %}